Body{
	
	
 margin: 0% 15% 0% 15%;
 background-image:url("image.jpeg");
  bgproperties:fixed ;
  align :center;
 }
 hr{
 height: 5px; background-color: #050501;
 } 
 h1{
	 
	 color: #181717;
 text-align: center; 
 } 

 input[type=text]{
     border:2px solid red;
     border-radius: 4px;
     
 }




/*h3{
	
 background-color: #E3BD42;
 }*/ 
 table{
    
 border-collapse: collapse;
  width: 70%;
  height: 70%;
  margin: auto;
 }
 th,td{
 padding: 8px;
  text-align: center;
   border-bottom: 1px solid #1026EC;
   border-radius: 1px #25F112;
 }
 /*th{
 background-color: #42BDE3; color: WHITE;
 } 
tr:hover{
 background-color: #1B4BE7;
 }*/
 
 